@import "../../styles/global.scss";
.image-card {
    width: 100%;
    height: 400px !important;
    object-fit: cover;
    border: $light-grey 1px solid;
}

.card-wrapper {
    min-width: 100%;
    max-height: 400px;
    width: 400px;
}

.card-wrapper:hover .overlay-card {
    height: 100%;
}

.overlay-card {
    position: relative;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 0%;
    transition: 0.5s ease;
    color: $white;
    background-color: rgba($grey, 0.95);
}

.overlay-text {
    padding: 16px;
    padding-top: 0;
    display: block;
    opacity: 1 !important;
}

.overlay-title {
    padding: 16px;

    margin: 0;
}
