@import "../../../styles/global.scss";
.hamburger {
    margin: 16px;
    border-radius: 5px;
    width: 5rem;
    border: none;
    background-color: $red;
    color: $white;
}

.hamburger:active {
    background-color: $red;
}

.hamburger-close {
    padding: 16px;
    background-color: $dark;
}

.hamburger-close:hover {
    background-color: $dark;
    cursor: pointer;
}

.hamburger-menu-hide {
    animation: menuEnd 0.3s linear forwards !important;
}
.hamburger-menu-show {
    animation: menuStart 0.3s linear forwards;
}
.hamburger-menu {
    position: absolute;
    height: 100%;
    background-color: $grey;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 999;
    li a {
        display: block;
        color: $white;
        text-align: center;
        text-decoration: none;
        margin: 0;
        padding-right: 30px;
        padding-left: 30px;
    }

    li a:hover {
        background-color: $red;
        border-radius: 0px;
    }

    ul > li {
        list-style-type: none;
        display: block;
    }
}

@keyframes menuStart {
    0% {
        right: -200px;
    }
    100% {
        right: 0;
    }
}

@keyframes menuEnd {
    0% {
        right: 0;
    }
    100% {
        right: -200px;
    }
}
