.main-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.children-container {
    animation: spawn 0.3s ease forwards;
}
@keyframes spawn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
