@import "../../styles/global.scss";

.contenedor-lenguajes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icono {
    height: 40px;
    transform: scale(1.2);
}
.fondo {
    background-color: $grey;
    padding: 3% 3%;
    border-radius: 10px;
}
@media only screen and (max-width: 992px) {
    .fondo {
        margin: 2% !important;
    }
    #experiencia {
        padding: 0 !important;
    }
    .contenedor-lenguajes {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.agrandar {
    transform: scale(1);
    transition: 0.3s linear;
}
.agrandar:hover {
    transform: scale(1.1);
    transition: 0.3s linear;
    cursor: default;
}

.lenguaje-card {
    background-color: $light-grey;
    padding: 10px;
}
